
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="container">

              <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://img.freepik.com/premium-vector/healthy-vegetable-grocery-delivery-promotion-food-banner-facebook-cover-web-banner-template_584651-61.jpg?w=2000" class="d-block w-100" alt="...">
                  </div>
                
                  <div class="carousel-item">
                    <img src="https://img.freepik.com/premium-psd/vegetable-facebook-cover-template_349013-44.jpg?w=2000" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>


                <div class="row">
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSV1VH7025DpBUGedVkKGqyJSU0AAo1A-3aKQ&usqp=CAU" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Carrot</h5>
                              <p class="card-text">Sale: Rs 33.00(Rs 3.30/100 g)
                                Inclusive of all tax
                              </p>
                              <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img src="https://img.freepik.com/free-photo/raw-potato-wooden-background_1150-8035.jpg?w=2000" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Potato</h5>
                              <p class="card-text">Sale: Rs 40.00(Rs 4.30/100 g)
                                Inclusive of all tax</p>
                              <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                        </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="card">
                            <img src="https://media.istockphoto.com/photos/beets-picture-id619230626?b=1&k=20&m=619230626&s=170667a&w=0&h=P_Xu9z0inBmyKTyQS75Tx4FBuPJFuphFPPOw3GwCRDs=" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Beet Root</h5>
                              <p class="card-text">Sale: Rs 10.00(Rs 2.00/100 g)
                                Inclusive of all tax</p>
                              <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                        </div>


                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img src="https://www.foodrepublic.com/wp-content/uploads/2016/03/Bitter-melon-by-Karen-Christine-Hibbard--700x468.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Bitter Gourd</h5>
                              <p class="card-text">Sale: Rs 55.00(Rs 5.30/100 g)
                                Inclusive of all tax</p>
                              <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                          </div>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
