
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="container">
                <div class="row">
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img src="https://cdn.shopify.com/s/files/1/0559/2586/6671/products/Frontside_5_400x.jpg?v=1644645482" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Banana Chips</h5>
                              <p class="card-text">Sale: Rs 75.00(Qty:100g)
                                Inclusive of all tax
                              </p>
                              <a href="http://localhost:4200/Cart" class="btn btn-primary">Add to cart</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img src="https://cdn.shopify.com/s/files/1/0559/2586/6671/products/sidetunatomatorice_400x.jpg?v=1644227231" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Tuna Tomato Rice</h5>
                              <p class="card-text">Sale: Rs 135.00(Qty:250g)
                                Inclusive of all tax</p>
                              <a href="http://localhost:4200/Cart" class="btn btn-primary">Add to cart</a>
                            </div>
                        </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="card">
                            <img src="https://cdn.shopify.com/s/files/1/0559/2586/6671/products/readytoeatmockupavial_400x.jpg?v=1644226284" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Aviyal</h5>
                              <p class="card-text">Sale: Rs 130.00(Qty:200g)
                                Inclusive of all tax</p>
                              <a href="http://localhost:4200/Cart" class="btn btn-primary">Add to cart</a>
                            </div>
                        </div>


                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img src="https://www.bigbasket.com/media/uploads/p/xxl/40237235_1-maggi-2-minute-instant-noodles-veggie-masala-made-with-quality-spices-rich-in-fibre.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Maggi Instant Noodle</h5>
                              <p class="card-text">Sale: Rs 14.00(Qty:62g)
                                Inclusive of all tax</p>
                              <a href="http://localhost:4200/Cart" class="btn btn-primary">Add to cart</a>
                            </div>
                          </div>

                    </div>
                  </div>
                              