
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="container">
                <div class="row">
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img src="https://wallpaperaccess.com/full/1351681.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Apple</h5>
                              <p class="card-text">Sale: Rs 145.00(Qty:100g)
                                Inclusive of all tax
                              </p>
                              <a href="https://localhost:4200/cart" class="btn btn-primary">Add to cart</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img src="https://c1.wallpaperflare.com/preview/279/149/117/bounty-candy-bar-chocolate-coconut.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Bounty</h5>
                              <p class="card-text">Sale: Rs 65.00(Qty:90g)
                                Inclusive of all tax</p>
                              <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                        </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="card">
                            <img src="https://thumbs.dreamstime.com/b/jelly-sweets-10561819.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Sweet Gelly</h5>
                              <p class="card-text">Sale: Rs 60.00(Qty:150g)
                                Inclusive of all tax</p>
                              <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                        </div>


                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img src="https://images6.fanpop.com/image/photos/36000000/Snickers-chocolate-36037888-500-333.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Snickers</h5>
                              <p class="card-text">Sale: Rs 55.00(Qty:500g)
                                Inclusive of all tax</p>
                              <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                          </div>

                    </div>
                  </div>
                              