
<nav class="navbar navbar-expand-lg bg-info">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Cart</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           My account
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">sign-up</a></li>
            <li><a class="dropdown-item" href="#">sign-in</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">LOGOUT</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<hr />

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://img.freepik.com/free-vector/hand-drawn-vegetables-supermarket-twitch-banner_23-2149385524.jpg?w=2000" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/free-vector/flat-supermarket-twitch-banner_23-2149375306.jpg?w=2000" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://t3.ftcdn.net/jpg/00/74/80/30/360_F_74803077_tAM730fGIeVYoFTDLTgt8AIMXZCqh1rQ.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<h2><u>shop by categories</u></h2>
<div class="container">
  <div class="row g-3">
      <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

          <div class="container">
              <div class="row g-3">
                  <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                      <div class="card">
                          <img src="https://wallpaperaccess.com/full/1101706.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title"> FRUITS</h5>
                            <p class="card-text"> </p>
                            <a href="#" class="btn btn-primary">SHOP NOW</a>
                          </div>
                        </div>

                  </div>
                  <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                      <div class="card">
                          <img src="https://watermark.lovepik.com/photo/20211208/large/lovepik-fruits-and-vegetables-poster-picture_501615020.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title"> VEGETABLES</h5>
                            <p class="card-text"></p>
                            <a href="#" class="btn btn-primary">SHOP NOW</a>
                          </div>
                        </div>

                  </div>
                  <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                      <div class="card">
                          <img src="https://c8.alamy.com/comp/M50RBJ/bottles-and-cans-of-assorted-global-soft-drinks-M50RBJ.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">BEVERAGES</h5>
                            <p class="card-text"></p>
                            <a href="#" class="btn btn-primary">SHOP NOW</a>
                          </div>
                        </div>


                  </div>
                  <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                      <div class="card">
                          <img src="https://www.eshop2day.com/image/cache/catalog/Category/Noodles,%20Sauces%20and%20Instant%20Food/noodles%20sauces%20and%20instant%20food-600x315w.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">INSTANT FOODS</h5>
                            <p class="card-text"></p>
                            <a href="#" class="btn btn-primary">SHOP NOW</a>
                          </div>
                        </div>

                  </div>
                  <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                      <div class="card">
                          <img src="https://c1.wallpaperflare.com/preview/203/813/211/chocolate-sweet-dairy-milk-display.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">CHOCOLATES</h5>
                            <p class="card-text">
                          </p>
                            <a href="#" class="btn btn-primary">SHOP NOW</a>
                          </div>
                        </div>

                  </div>
                  
                  
                  

                  
 
              </div>
          </div>
      </div>
  </div>
</div>