<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-10">
                <form #usersignup="ngForm" (ngSubmit)="Signup()" method="POST" action="/Login">
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        
                        <label for="" class="form label">EMAIL</label>
                        <input type="text" class="form-control" [(ngModel)]="loginpg.loginemail" name="loginemail">
                        <label for="" class="form label">PASSWORD</label>
                        <input type="password" id="" class="form-control" [(ngModel)]="loginpg.loginpassword" name="loginpassword">
                    
                        <br><br><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal4">REGISTER</button>
                    </div>
                </form>
               
            </div>
        </div>
    </div>