<div class="row">
	<div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
		<div class="row g-10">
			<form #usersignin="ngForm" (ngSubmit)="Signin()" method="POST">
				<div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
					<label for="" class="form label">EMAIL</label>
					<input type="text" class="form-control" [(ngModel)]="loginpg.loginemail" name="email">
					<label for="" class="form label">PASSWORD</label>
					<input type="password" id="" class="form-control" [(ngModel)]="loginpg.loginpassword" name="password"><br><br>
					<button class="btn btn-primary" routerLink="/Homepage">SIGN IN</button>
				</div>
			</form>
		</div>
	</div>
</div>