
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="container">
                <div class="row">
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img src="https://www.jiomart.com/images/product/600x600/490004176/pepsi-2-l-product-images-o490004176-p490004176-0-202203170742.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Pepsi 2.25 Ltr</h5>
                              <p class="card-text">     M.R.P: ₹ 61.00
                              </p>
                              <a href="http://localhost:4200/Cart" class="btn btn-primary">Add to cart</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img src="https://www.jiomart.com/images/product/600x600/490249972/b-natural-apple-juice-1-l-product-images-o490249972-p490249972-0-202204262008.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">B-natural apple juice 1L</h5>
                              <p class="card-text">
                                M.R.P: ₹ 65.00
                                Inclusive of all tax</p>
                              <a href="http://localhost:4200/Cart" class="btn btn-primary">Add to cart</a>
                            </div>
                        </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="card">
                            <img src="https://www.jiomart.com/images/product/600x600/491552148/bisleri-soda-750-ml-product-images-o491552148-p491552148-0-202203171029.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Bisleri Club Soda 750 ml</h5>
                              <p class="card-text">      M.R.P: ₹ 13.00
                                Inclusive of all tax</p>
                              <a href="http://localhost:4200/Cart" class="btn btn-primary">Add to cart</a>
                            </div>
                        </div>


                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img src="https://www.jiomart.com/images/product/600x600/490005200/7up-2-5-l-product-images-o490005200-p490005200-0-202206101526.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title"> 7-UP 2.25Ltr</h5>
                              <p class="card-text">    M.R.P: ₹ 60.00
                                Inclusive of all tax</p>
                              <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                          </div>

                    </div>
                  </div>
             
             <script type="text/javascipt">
             var noti = document.querySelector('h1');
             var select = document.querySelector('.select');
             var button = document.getElementsByTagName('button');
             for(var but of button){
               but.addEventListener('click', (e)=>{
                 var add = Number(noti.getAttribute('data-count') || 0);
                 noti.setAttribute('data-count', add +1);
                 noti.classList.add('zero')
           
                 // image --animation to cart ---//
                 var image = e.target.parentNode.querySelector('img');
                 var span = e.target.parentNode.querySelector('span');
                 var s_image = image.cloneNode(false);
                 span.appendChild(s_image);
                 span.classList.add("active");
                 setTimeout(()=>{
                   span.classList.remove("active");
                   span.removeChild(s_image);
                 }, 500); 
                 
           
               
                 var parent = e.target.parentNode;
                 var clone = parent.cloneNode(true);
                 select.appendChild(clone);
                 clone.lastElementChild.innerText = "Buy-now";
                 
                 if (clone) {
                   noti.onclick = ()=>{
                     select.classList.toggle('display');
                   }	
                 }
               })
             }
            </script>